@import "../assets/mixins/colors";

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background: $app-backgroud;

  &__form {
    margin: 150px;
    width: 30%;
    height: 50%;
  }
}
